In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv")

In [3]:
test = pd.read_csv("test.csv")

In [4]:
train.head(5)

,tweet_id,airline_sentiment,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,567900433542488064,negative,Southwest,NaN,ColeyGirouard,NaN,0,"@SouthwestAir I am scheduled for the morning, ...",NaN,2015-02-17 20:16:29 -0800,Washington D.C.,Atlantic Time (Canada)
1,569989168903819264,positive,Southwest,NaN,WalterFaddoul,NaN,0,@SouthwestAir seeing your workers time in and ...,NaN,2015-02-23 14:36:22 -0800,"Indianapolis, Indiana; USA",Central Time (US & Canada)
2,568089179520954368,positive,United,NaN,LocalKyle,NaN,0,@united Flew ORD to Miami and back and had gr...,NaN,2015-02-18 08:46:29 -0800,Illinois,Central Time (US & Canada)
3,568928195581513728,negative,Southwest,NaN,amccarthy19,NaN,0,@SouthwestAir @dultch97 that's horse radish üò§üê¥,NaN,2015-02-20 16:20:26 -0800,NaN,Atlantic Time (Canada)
4,568594180014014464,negative,United,NaN,J_Okayy,NaN,0,@united so our flight into ORD was delayed bec...,NaN,2015-02-19 18:13:11 -0800,NaN,Eastern Time (US & Canada)

In [5]:
test.head(5)

,tweet_id,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,569682010270101504,American,NaN,zsalim03,NaN,0,@AmericanAir In car gng to DFW. Pulled over 1h...,NaN,2015-02-22 18:15:50 -0800,Texas,Central Time (US & Canada)
1,569608307184242688,American,NaN,sa_craig,NaN,0,"@AmericanAir after all, the plane didn‚Äôt land ...",NaN,2015-02-22 13:22:57 -0800,"College Station, TX",Central Time (US & Canada)
2,567879304593408001,Southwest,NaN,DanaChristos,NaN,1,@SouthwestAir can't believe how many paying cu...,NaN,2015-02-17 18:52:31 -0800,CT,Eastern Time (US & Canada)
3,569757651539660801,US Airways,NaN,rossj987,NaN,0,@USAirways I can legitimately say that I would...,NaN,2015-02-22 23:16:24 -0800,"Washington, D.C.",Eastern Time (US & Canada)
4,569900705852608513,American,NaN,tranpham18,NaN,0,@AmericanAir still no response from AA. great ...,NaN,2015-02-23 08:44:51 -0800,New York City,Eastern Time (US & Canada)

In [6]:
x_train = train["text"]

In [7]:
x_train

0        @SouthwestAir I am scheduled for the morning, ...
1        @SouthwestAir seeing your workers time in and ...
2        @united Flew ORD to Miami and back and  had gr...
3           @SouthwestAir @dultch97 that's horse radish üò§üê¥
4        @united so our flight into ORD was delayed bec...
5        @united Why did you load us in this flying sar...
6        @JetBlue that is a stock response. Delays not ...
7        @JetBlue That'd be nice! Hoping to rack up eno...
8        @united frankly worse customer service ever. P...
9        @SouthwestAir yeah haha. Never been in one. It...
10       @SouthwestAir MCO-&gt;DCA flight almost full o...
11       @JetBlue what's the easiest way to get a ticke...
12       @USAirways - love the changes in the lounge - ...
13       @SouthwestAir I receive bad customer service a...
14       @USAirways you're killing me sche a flight to ...
15       @USAirways 8 weeks to refund this ticket - 037...
16       @AmericanAir no private msg me and will provid...
17       can you not? RT @JetBlue Our fleet's on fleek....
18       @JetBlue any info on why flight 704 from SJU t...
19       @AmericanAir, I've tried no less than 8 times ...
20       @USAirways new problem...had wrong last name o...
21       @SouthwestAir Any possible chance of SWA bring...
22       @USAirways @AmericanAir who runs the show at t...
23       @united computers are down but you stopped giv...
24               @united good fly!! #United #businessFirst
25       @united I am flying from msp to dxb, my child ...
26       @JetBlue loves Cancelled Flightling tickets an...
27       @united In ORD, waited 20 min after crew membe...
28       @SouthwestAir Jason (108639) at Gate #3 in SAN...
29       @AmericanAir everything for sorted out. Thanks...
                               ...
10950    @JetBlue Even though this flight #226 didn't h...
10951    @SouthwestAir very disappointed in your handli...
10952    @SouthwestAir flight Cancelled Flightled out o...
10953    @united when I read it say ' in some cases' ca...
10954    @SouthwestAir you're giving everyone tix for #...
10955    @JetBlue Am I the only one who had to look tha...
10956                      @SouthwestAir go south everyone
10957    @USAirways 4 hours Late Flightr And i lost my ...
10958    @united I sure did.   I had to drive a total o...
10959    @USAirways his name is Rett Cavan, he has a go...
10960    @united 3 times my flight has been delayed and...
10961    @JetBlue there is no supervisor available, so ...
10962                                    @united following
10963    @USAirways even alternate options are allready...
10964    @united Also your at-gate monitor showed 23 em...
10965                               @united Okay thank you
10966    @united - vacation days: relevant, Ritz in PR ...
10967    @SouthwestAir you guys there? Are we on hour 2...
10968    @AmericanAir we are through. I can quit you. I...
10969            @SouthwestAir thank you! ‚ù§Ô∏è‚ù§Ô∏è‚ù§Ô∏è you guys!
10970    @SouthwestAir went to purchase a flight that I...
10971    @JetBlue by any chance do u offer fresh guacam...
10972    @USAirways - 53 minutes on hold for a reservat...
10973    @AmericanAir the worst air experience I have e...
10974    @SouthwestAir beautiful view flying into San J...
10975                              @AmericanAir followback
10976    @united thanks for the help. Wish the phone re...
10977    @usairways the. Worst. Ever. #dca #customerser...
10978    @nrhodes85: look! Another apology. DO NOT FLY ...
10979    @united you are by far the worst airline. 4 pl...
Name: text, Length: 10980, dtype: object

In [8]:
y_train = train['airline_sentiment']

In [9]:
y_train

0        negative
1        positive
2        positive
3        negative
4        negative
5        negative
6        negative
7        positive
8        negative
9        positive
10       negative
11        neutral
12       positive
13       negative
14       negative
15       negative
16       negative
17       negative
18       negative
19       negative
20       negative
21        neutral
22       negative
23       negative
24       positive
25        neutral
26       negative
27       negative
28       positive
29       positive
           ...
10950    positive
10951    negative
10952    negative
10953    negative
10954    negative
10955    negative
10956     neutral
10957    negative
10958    negative
10959    negative
10960    negative
10961    negative
10962     neutral
10963    negative
10964    negative
10965     neutral
10966    negative
10967    negative
10968    negative
10969    positive
10970    negative
10971     neutral
10972    negative
10973    negative
10974    positive
10975     neutral
10976    positive
10977    negative
10978    negative
10979    negative
Name: airline_sentiment, Length: 10980, dtype: object

In [10]:
x_test = test['text']

In [11]:
x_test

0       @AmericanAir In car gng to DFW. Pulled over 1h...
1       @AmericanAir after all, the plane didn‚Äôt land ...
2       @SouthwestAir can't believe how many paying cu...
3       @USAirways I can legitimately say that I would...
4       @AmericanAir still no response from AA. great ...
5       @united we have developers flying down tmrw mo...
6                       @USAirways hello??? Anyone there?
7       @USAirways @husainhaqqani Mr. Husain u shld pr...
8       @USAirways not likely, flightaware says plane ...
9       @AmericanAir they don't even give an option to...
10      @united your announcement for pre boarding onl...
11      @USAirways it is really embarrassing when aski...
12      @SouthwestAir I will not have my passport in t...
13      @AmericanAir this delayed bag was for my frien...
14      @SouthwestAir Didn't see travel had to be comp...
15      @USAirways awesome... Doors close in 2 minutes...
16      @united I flew United last month and the exper...
17      @JetBlue Accepting #Apple Pay - Mobile Enterpr...
18      @united $55 cab ride to dfw from love got me m...
19      @JetBlue ill call in the morning. too upset ri...
20      @SouthwestAir @AARP #tfw1 Appreciate the tweet...
21      @united what's the status of flight 1008 Bogot...
22      @AmericanAir literally just stopped allowing p...
23      @AmericanAir I really want to get home. Tonigh...
24      @USAirways I've been on hold at the reservatio...
25      @JetBlue Denver-Boston 2/10 flight 994  and Bo...
26      @AmericanAir nothing to do with Mother Nature,...
27      @USAirways you would rather a while plane get ...
28      @JetBlue hi guys, do you have a general enquir...
29      @united we finally just arrive to Bogota, good...
                              ...
3630                           @USAirways nope not yet...
3631    @SouthwestAir So far so good! http://t.co/16c9...
3632    @SouthwestAir @CBSsoxfan you get to hold? call...
3633    @JetBlue Really!? That's good to hear! Thanks ...
3634    @JetBlue trying to charge us $550 dollars cash...
3635    @USAirways can u tell me if 5238 from clt to J...
3636    @USAirways Your customer service is  non-exist...
3637    @SouthwestAir Whoa. Thanks and that's what I w...
3638    @United THANK U! Secured room for the night Th...
3639    @AmericanAir I'm not sure what happened to my ...
3640    @AmericanAir pretty bad at #DFW no updates two...
3641    @USAirways Just contaced EYEWITNESS NEWS about...
3642    @SouthwestAir thx. Make it right. Help Meagan ...
3643    @USAirways I didn't Cancelled Flight my flight...
3644    @united your "Airserv" contractors aren't wort...
3645    @SouthwestAir @taylormdowns We share that valu...
3646    @USAirways on hold now over 2 hrs on one phone...
3647    @AmericanAir the flight I'm trying to change i...
3648    @JetBlue the fact that #ChrisHasMadeUsBLUSH is...
3649             @united Did somebody say flight upgrade?
3650        @SouthwestAir how do I get my companion pass?
3651    @USAirways tells me to talk to @AmericanAir ab...
3652            @JetBlue you want me to talk to the wall?
3653    @USAirways Now, the JFK Baggage Office has act...
3654    @AmericanAir Least you could do would be to re...
3655    @USAirways Been stuck for 40+ minutes due to l...
3656    @USAirways 4 hours... 4 hours... FOUR HOURS.  ...
3657    Nice RT @VirginAmerica: The man of steel might...
3658    @AmericanAir Aww Thanks AA..DFW was on GMA up ...
3659    @united the lounge tells us they have no pillo...
Name: text, Length: 3660, dtype: object

In [12]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Chetna
[nltk_data]     Agarwal\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
from nltk.corpus import stopwords
stop_words = stopwords.words("english")

In [14]:
import string
punctuations = string.punctuation
punctuations

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [15]:
stop_words

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [16]:
p = [i for i in punctuations]

In [17]:
p

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [18]:
stop_words += p

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
vec = TfidfVectorizer(max_features=4000, ngram_range=(1,2), stop_words=stop_words, max_df = 0.8, lowercase = True, use_idf = True, smooth_idf = True)

In [21]:
t_train = vec.fit_transform(x_train)

In [22]:
t_test = vec.transform(x_test)

In [23]:
from sklearn.naive_bayes import MultinomialNB

In [24]:
from sklearn.model_selection import GridSearchCV

In [25]:
clf = MultinomialNB()

In [26]:
grid = {"alpha" :[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]}

In [27]:
grid_search = GridSearchCV(clf, grid)

In [28]:
grid_search.fit(t_train,y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'alpha': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [29]:
grid_search.best_estimator_

MultinomialNB(alpha=0.1, class_prior=None, fit_prior=True)

In [30]:
clf  = MultinomialNB(alpha=0.1, class_prior=None, fit_prior=True)
clf.fit(t_train,y_train)
predictions = clf.predict(t_test)

In [31]:
predictions

array(['negative', 'negative', 'negative', ..., 'negative', 'positive',
       'negative'], dtype='<U8')

In [32]:
np.savetxt("final.csv",predictions,delimiter=",",fmt="%s")

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [34]:
clf1 = LogisticRegression()

In [35]:
clf1.fit(t_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [36]:
predictions = clf1.predict(t_test)

In [37]:
np.savetxt("final.csv",predictions,delimiter=",",fmt="%s")