In [1]:
import numpy as np
data = np.loadtxt("training_boston_x_y_train.csv", delimiter = ",")

In [2]:
data

array([[-0.40784991, -0.48772236, -1.2660231 , ...,  0.41057102,
        -1.09799011, 37.9       ],
       [-0.40737368, -0.48772236,  0.24705682, ...,  0.29116915,
        -0.52047412, 21.4       ],
       [ 0.1251786 , -0.48772236,  1.01599907, ..., -3.79579542,
         0.89107588, 12.7       ],
       ...,
       [-0.40831101, -0.48772236,  0.24705682, ...,  0.33206621,
        -0.33404299, 20.8       ],
       [-0.41061997, -0.48772236, -1.15221381, ...,  0.203235  ,
        -0.74475218, 22.6       ],
       [ 0.34290895, -0.48772236,  1.01599907, ...,  0.38787479,
        -1.35871335, 50.        ]])

In [3]:
data.shape

(379, 14)

In [4]:
x_2d = data[:, 0:13]

In [5]:
x_2d.shape

(379, 13)

In [6]:
y = data[:,13]

In [7]:
y.shape

(379,)

In [8]:
x = np.zeros((379, 14)) # x is a 2d np array with an additional row of 1 values
x[:,:-1] = x_2d

In [9]:
x[:,-1] = 1

In [10]:
x.shape

(379, 14)

In [11]:
import pandas as pd
df = pd.DataFrame(x)
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.000000,379.0
mean,0.019628,0.002455,0.036170,0.028955,0.028775,0.032202,0.038395,-0.001288,0.043307,0.043786,0.019218,-0.015785,0.018418,1.0
std,1.067490,1.000813,1.017497,1.048995,0.999656,1.001174,0.985209,1.027803,1.016265,1.019974,1.000296,1.015797,1.015377,0.0
min,-0.417713,-0.487722,-1.516987,-0.272599,-1.465882,-3.880249,-2.335437,-1.267069,-0.982843,-1.313990,-2.707379,-3.883072,-1.531127,1.0
25%,-0.408171,-0.487722,-0.867691,-0.272599,-0.878475,-0.571480,-0.768994,-0.829872,-0.637962,-0.755697,-0.488039,0.197588,-0.828856,1.0
50%,-0.383729,-0.487722,-0.180458,-0.272599,-0.144217,-0.103479,0.338718,-0.329213,-0.523001,-0.440915,0.297977,0.374827,-0.161629,1.0
75%,0.055208,0.156071,1.015999,-0.272599,0.628913,0.529069,0.911243,0.674172,1.661245,1.530926,0.806576,0.429868,0.647173,1.0
max,9.941735,3.804234,2.422565,3.668398,2.732346,3.555044,1.117494,3.960518,1.661245,1.798194,1.638828,0.441052,3.409999,1.0

In [12]:
m = np.zeros((14))

In [13]:
m.shape

(14,)

In [14]:
def step_gradient(x,y,learning_rate, m):
    m_slope = np.zeros((14))
    num_rows = 379
    for i in range(num_rows):
        x_rowwise = x[i, :]   #1 d np array with x values of ith row
        y_rowwise = y[i]   # y value for ith row
        m_slope += (-2/379)*(y_rowwise - (m*x_rowwise).sum())*x_rowwise
    new_m  = np.zeros((14))
    new_m = m - learning_rate * m_slope
    return new_m

In [15]:
def cost(x,y,m):
    total_cost = 0
    for i in range(379): #for each row
        x_rowwise = x[i] #1 d np array with x values of ith row
        y_rowwise = y[i] # y value for ith row
        new = x_rowwise*m # new is an array obtained by element by element multiplication of x_rowwise and m
        mx_sum = 0 
        for j in range(len(new)): #to calculate sum of elements of new
            mx_sum += new[j]
        total_cost += (1/379)*((y_rowwise - mx_sum)**2)
    return total_cost

In [16]:
def gd(x,y,learning_rate, num_iterations,m):
    for i in range(num_iterations):
        m = step_gradient(x,y,learning_rate,m)
        if(i%1000==99):
            print(i, "cost:", cost(x,y,m))
    return m

In [ ]:
def run():
    learning_rate = 0.0001
    num_iterations = 20000
    m = np.zeros((14))
    m = gd(x,y, learning_rate, num_iterations,m)
    print (m)
    return (m)

In [ ]:
m = run()

99 cost: 571.9030557380705
1099 cost: 377.43739887872334
2099 cost: 258.41222923453023
3099 cost: 180.50522530125392
4099 cost: 128.94165742655937
5099 cost: 94.68799729263444
6099 cost: 71.8691757581379
7099 cost: 56.62417414154014
8099 cost: 46.406896085031036
9099 cost: 39.53437457113763
10099 cost: 34.891828562452865
11099 cost: 31.739385365541317
12099 cost: 29.585075609656936
13099 cost: 28.101173825658165
14099 cost: 27.068969298792357
15099 cost: 26.342231853955322
16099 cost: 25.82299949290325

In [ ]:
m

In [ ]:
test_data = np.loadtxt("test_boston_x_test.csv", delimiter = ",")
test_data.shape

In [ ]:
x_test = np.zeros((127, 14))
x_test[:, :-1] = test_data
x_test[:, -1] = 1

In [ ]:
x_test.shape

In [ ]:
test_df = pd.DataFrame(x_test)
test_df.describe()

In [ ]:
y2 = np.zeros((127))
for i in range(127):
    x2 = x_test[i, :]
    sum = 0
    for j in range(14):
        sum = sum + m[j] * x_test[i][j]
    y2[i] = sum

In [ ]:
y2

In [ ]:
np.savetxt("test_pred1.csv",y2)