In [1]:
import numpy as np
data = np.loadtxt("0000000000002419_training_ccpp_x_y_train.csv", delimiter = ",")

In [2]:
data

array([[    8.58,    38.38,  1021.03,    84.37,   482.26],
       [   21.79,    58.2 ,  1017.21,    66.74,   446.94],
       [   16.64,    48.92,  1011.55,    78.76,   452.56],
       ...,
       [   29.8 ,    69.34,  1009.36,    64.74,   437.65],
       [   16.37,    54.3 ,  1017.94,    63.63,   459.97],
       [   30.11,    62.04,  1010.69,    47.96,   444.42]])

In [3]:
data.shape

(7176, 5)

In [4]:
data[0,:]

array([    8.58,    38.38,  1021.03,    84.37,   482.26])

In [5]:
x1 = data[:, 0:4]
x1

array([[    8.58,    38.38,  1021.03,    84.37],
       [   21.79,    58.2 ,  1017.21,    66.74],
       [   16.64,    48.92,  1011.55,    78.76],
       ...,
       [   29.8 ,    69.34,  1009.36,    64.74],
       [   16.37,    54.3 ,  1017.94,    63.63],
       [   30.11,    62.04,  1010.69,    47.96]])

In [6]:
y = data[:, 4]
y.shape

(7176,)

In [7]:
x = np.zeros((7176, 5))
x[:, :-1] = x1
x[:, -1] = 1

In [8]:
x.shape

(7176, 5)

In [9]:
import pandas as pd
df = pd.DataFrame(x)
df.describe()

                 0            1            2            3       4
count  7176.000000  7176.000000  7176.000000  7176.000000  7176.0
mean     19.629712    54.288154  1013.263032    73.275818     1.0
std       7.475256    12.751468     5.964863    14.625093     0.0
min       1.810000    25.360000   992.890000    25.560000     1.0
25%      13.470000    41.740000  1009.010000    63.202500     1.0
50%      20.315000    52.050000  1012.910000    74.895000     1.0
75%      25.720000    66.540000  1017.302500    84.925000     1.0
max      35.770000    81.560000  1033.300000   100.160000     1.0

In [10]:
m = np.zeros((5))
m

array([ 0.,  0.,  0.,  0.,  0.])

In [11]:
m.shape

(5,)

In [12]:
def step_gradient(x,y,learning_rate, m):
    m_slope = np.zeros((5))
    num_rows = 7176
    for i in range(num_rows):
        x_rowwise = x[i, :]   #1 d np array with x values of ith row
        y_rowwise = y[i]   # y value for ith row
        m_slope += (-2/7176)*(y_rowwise - (m*x_rowwise).sum())*x_rowwise
    new_m  = np.zeros((5))
    new_m = m - learning_rate * m_slope
    return new_m

In [13]:
def cost(x,y,m):
    total_cost = 0
    for i in range(7176): #for each row
        x_rowwise = x[i] #1 d np array with x values of ith row
        y_rowwise = y[i] # y value for ith row
        new = x_rowwise*m # new is an array obtained by element by element multiplication of x_rowwise and m
        mx_sum = 0 
        for j in range(len(new)): #to calculate sum of elements of new
            mx_sum += new[j]
        total_cost += (1/7176)*((y_rowwise - mx_sum)**2)
    return total_cost

In [14]:
def gd(x,y,learning_rate, num_iterations,m):
    for i in range(num_iterations):
        m = step_gradient(x,y,learning_rate,m)
        if(i%1000==99):
            print(i, "cost:", cost(x,y,m))
    return m

In [15]:
def run():
    learning_rate = 0.0000001
    num_iterations = 150000
    m = np.zeros((5))
    m = gd(x,y, learning_rate, num_iterations,m)
    print (m)
    return (m)

In [16]:
m = run()

99 cost: 255.672083638
1099 cost: 235.847120215
2099 cost: 218.007712495
3099 cost: 201.945751901
4099 cost: 187.475439179
5099 cost: 174.4308656
6099 cost: 162.66385788
7099 cost: 152.042057982
8099 cost: 142.447212121
9099 cost: 133.773646125
10099 cost: 125.926906766
11099 cost: 118.822550954
12099 cost: 112.385066631
13099 cost: 106.546910979
14099 cost: 101.247653156
15099 cost: 96.433210117
16099 cost: 92.0551654031
17099 cost: 88.0701618113
18099 cost: 84.4393599123
19099 cost: 81.1279552276
20099 cost: 78.1047476737
21099 cost: 75.3417575814
22099 cost: 72.8138832161
23099 cost: 70.4985952822
24099 cost: 68.375664387
25099 cost: 66.4269178798
26099 cost: 64.6360228711
27099 cost: 62.9882925904
28099 cost: 61.4705135444
29099 cost: 60.0707912209
30099 cost: 58.7784123256
31099 cost: 57.5837217599
32099 cost: 56.4780127428
33099 cost: 55.4534286543
34099 cost: 54.5028753327
35099 cost: 53.6199426959
36099 cost: 52.7988346797
37099 cost: 52.0343065966
38099 cost: 51.3216091149
39099 cost: 50.6564381453
40099 cost: 50.0348900005
41099 cost: 49.4534212609
42099 cost: 48.9088128411
43099 cost: 48.3981378086
44099 cost: 47.9187325519
45099 cost: 47.4681709411
46099 cost: 47.044241161
47099 cost: 46.6449249335
48099 cost: 46.2683788739
49099 cost: 45.9129177559
50099 cost: 45.5769994822
51099 cost: 45.2592115814
52099 cost: 44.95825907
53099 cost: 44.6729535355
54099 cost: 44.4022033129
55099 cost: 44.1450046407
56099 cost: 43.9004336931
57099 cost: 43.6676393977
58099 cost: 43.4458369577
59099 cost: 43.2343020055
60099 cost: 43.0323653214
61099 cost: 42.8394080621
62099 cost: 42.6548574441
63099 cost: 42.4781828371
64099 cost: 42.3088922255
65099 cost: 42.1465290011
66099 cost: 41.9906690529
67099 cost: 41.8409181252
68099 cost: 41.6969094167
69099 cost: 41.558301397
70099 cost: 41.4247758187
71099 cost: 41.2960359067
72099 cost: 41.1718047068
73099 cost: 41.051823578
74099 cost: 40.9358508156
75099 cost: 40.8236603918
76099 cost: 40.7150408029
77099 cost: 40.6097940135
78099 cost: 40.5077344873
79099 cost: 40.4086882988
80099 cost: 40.3124923157
81099 cost: 40.218993448
82099 cost: 40.1280479559
83099 cost: 40.0395208129
84099 cost: 39.9532851173
85099 cost: 39.8692215498
86099 cost: 39.787217872
87099 cost: 39.707168462
88099 cost: 39.6289738854
89099 cost: 39.5525404971
90099 cost: 39.4777800724
91099 cost: 39.404609464
92099 cost: 39.3329502842
93099 cost: 39.2627286089
94099 cost: 39.1938747019
95099 cost: 39.1263227591
96099 cost: 39.0600106691
97099 cost: 38.9948797904
98099 cost: 38.9308747437
99099 cost: 38.8679432173
100099 cost: 38.8060357858
101099 cost: 38.7451057401
102099 cost: 38.6851089291
103099 cost: 38.62600361
104099 cost: 38.5677503099
105099 cost: 38.5103116946
106099 cost: 38.4536524464
107099 cost: 38.3977391488
108099 cost: 38.3425401788
109099 cost: 38.2880256057
110099 cost: 38.2341670954
111099 cost: 38.180937821
112099 cost: 38.1283123789
113099 cost: 38.0762667091
114099 cost: 38.0247780209
115099 cost: 37.9738247225
116099 cost: 37.9233863551
117099 cost: 37.8734435302
118099 cost: 37.8239778713
119099 cost: 37.7749719582
120099 cost: 37.7264092751
121099 cost: 37.6782741611
122099 cost: 37.6305517636
123099 cost: 37.5832279952
124099 cost: 37.5362894912
125099 cost: 37.4897235717
126099 cost: 37.4435182038
127099 cost: 37.3976619672
128099 cost: 37.3521440211
129099 cost: 37.3069540734
130099 cost: 37.262082351
131099 cost: 37.217519572
132099 cost: 37.17325692
133099 cost: 37.1292860184
134099 cost: 37.0855989077
135099 cost: 37.0421880232
136099 cost: 36.9990461734
137099 cost: 36.9561665211
138099 cost: 36.9135425639
139099 cost: 36.8711681167
140099 cost: 36.8290372951
141099 cost: 36.7871444992
142099 cost: 36.7454843986
143099 cost: 36.7040519185
144099 cost: 36.6628422258
145099 cost: 36.6218507167
146099 cost: 36.5810730043
147099 cost: 36.5405049075
148099 cost: 36.5001424402
149099 cost: 36.4599818007
[ -7.19671252e-01  -7.12019952e-01   4.96516182e-01   5.60416716e-02
   3.89638262e-04]

In [20]:
m

array([ -7.19671252e-01,  -7.12019952e-01,   4.96516182e-01,
         5.60416716e-02,   3.89638262e-04])

In [21]:
test_data = np.loadtxt("0000000000002419_test_ccpp_x_test.csv", delimiter = ",")
test_data.shape

(2392, 4)

In [23]:
x_test = np.zeros((2392, 5))
x_test[:, :-1] = test_data
x_test[:, -1] = 1

In [24]:
x_test.shape

(2392, 5)

In [25]:
test_df = pd.DataFrame(x_test)
test_df.describe()

                0            1            2            3       4
count  2392.00000  2392.000000  2392.000000  2392.000000  2392.0
mean     19.71579    54.358754  1013.247216    73.408457     1.0
std       7.38488    12.578763     5.861068    14.528135     0.0
min       3.38000    25.360000   993.740000    26.670000     1.0
25%      13.66000    41.730000  1009.300000    63.615000     1.0
50%      20.45000    52.750000  1013.025000    75.090000     1.0
75%      25.67250    66.490000  1017.172500    84.497500     1.0
max      37.11000    80.250000  1033.290000   100.130000     1.0

In [26]:
y2 = np.zeros((2392))
for i in range(2392):
    x2 = x_test[i, :]
    sum = 0
    for j in range(5):
        sum = sum + m[j] * x_test[i][j]
    y2[i] = sum

In [27]:
y2

array([ 471.81268372,  471.4625995 ,  430.98236464, ...,  441.50584638,
        459.72848756,  452.12393419])

In [28]:
np.savetxt("pred1.csv",y2)